* html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #222831;
  color: white;
  font-family: "Poppins", sans-serif;
}

.container-judul {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
}

.container-judul > .judul {
  margin-bottom: 0px;
}

.container-judul > .by {
  margin: 0px;
  font-size: 10px;
  padding: 0px;
}

.container-form {
  padding: 10px;
  margin-top: 50px;
  gap: 20px;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

.form-judul {
  font-size: 16px;
  margin: 0px;
  text-transform: capitalize;
}

.input-judul {
  width: 500px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.form-catatan {
  font-size: 16px;
  margin: 30px 0px 0px 0px;
  text-transform: capitalize;
}

.catatan-input {
  width: 500px;
  height: 300px;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

.tambahCatatanBTN {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: #76abae;
  color: white;
  text-transform: capitalize;
  margin-top: 20px;
  cursor: pointer;
}

.tambahCatatanBTN:hover {
  background-color: #eeeeee;
  color: black;
  transition: ease-in 0.2s;
}

.daftarCatatan-container-title {
  text-align: center;
}

.daftarCatatan-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

/* .daftarCatatan {
  display: flex;
  border: 2px solid white;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  flex-direction: column;
  padding: 10px;

  justify-content: space-between;
}

.daftarCatatan > h1 {
  font-size: 16px;
  text-align: center;
  margin: 0px 0px 0px 0px;
}

.btnAndCreatedAdd > p {
  margin: 0px 0px 0px 0px;
  font-size: 16px;
}

.btnAndCreatedAdd > button {
  width: 100px;
  height: 25px;
  margin-top: 10px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: #76abae;
  color: white;
  cursor: pointer;
} */

.mb {
    margin-bottom: 100px;
}

/* Responsive HP */
@media screen and (min-width: 320px) and (max-width: 500px) {
  .container-judul {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: capitalize;
  }

  .container-judul > .judul {
    margin-bottom: 0px;
  }

  .container-judul > .by {
    margin: 0px;
    font-size: 10px;
    padding: 0px;
  }

  .container-form {
    padding: 10px;
    gap: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .form-judul {
    font-size: 16px;
    margin: 0px;
    text-transform: capitalize;
  }

  .input-judul {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
  }

  .form-catatan {
    font-size: 16px;
    margin: 30px 0px 0px 0px;
    text-transform: capitalize;
  }

  .catatan-input {
    width: 300px;
    height: 100px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
  }

  .tambahCatatanBTN {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #76abae;
    color: white;
    text-transform: capitalize;
    margin-top: 20px;
    cursor: pointer;
  }

  .tambahCatatanBTN:hover {
    background-color: #eeeeee;
    color: black;
    transition: ease-in 0.2s;
  }

  .daftarCatatan-container-title {
    text-align: center;
  }

  .daftarCatatan-container {
    display: grid;
    grid: none;
    gap: 20px;
    justify-items: center;
  }

  /* .daftarCatatan {
    display: flex;
    border: 2px solid white;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
  }

  .daftarCatatan > h1 {
    font-size: 16px;
    text-align: center;
    margin: 0px 0px 0px 0px;
  }

  .btnAndCreatedAdd > p {
    margin: 0px 0px 0px 0px;
    font-size: 16px;
  }

  .btnAndCreatedAdd > button {
    width: 100px;
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #76abae;
    color: white;
    cursor: pointer;
  } */
}
